/* Set the dimensions of the popup */
body {
    width: calc(16 * 28px) !important;
    height: calc(9 * 28px) !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 48px;
    max-height: 48px;
    height: 48px;
    padding: 0px 12px 0px 24px;
    box-shadow: 0 1px 0 rgb(6 6 7 / 10%), 0 1.5px 0 rgb(6 6 7 / 3%), 0 2px 0 rgb(6 6 7 / 3%);
    color: var(--text-primary);
    font-size: 32px !important;
    line-height: 48px !important;
    margin-bottom: 0px !important;
}

.header {
    background-clip: text !important;
    background-image: linear-gradient(90deg, #ba99ff, #abd8ff 50%, #8bfaeb) !important;
    color: transparent !important;
    font-style: normal !important;
    font-weight: inherit !important;
}

.header>#anchor {
    min-height: 48px;
    min-width: 48px;
    max-height: 48px;
    max-width: 48px;
    height: 48px;
    width: 48px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header>#anchor::after {
    content: none !important;
}

.header>#anchor>svg {
    fill: var(--text-primary) !important;
}

.container {
    padding: 8px 16px;
    width: -webkit-fill-available;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    row-gap: 8px !important;
}

.container>.url-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px !important;
    column-gap: 8px !important;
    border-radius: 24px !important;
    padding: 0px 12px 0px 8px !important;
    background-color: #fff !important;
}

.container>.url-container>.url {
    border: none !important;
    margin: 0px !important;
    height: 32px !important;
    background-color: transparent !important;
    color: var(--text-primary);
    width: 100%;
    padding: 0px !important;
}

.container>.url-container>.status-badge {
    min-width: fit-content;
    font-size: 12px !important;
    line-height: 28px !important;
    border-radius: 24px !important;
    padding: 0px 12px !important;
    margin: 0px !important;
    height: 28px !important;
}

.container>.url-container>.status-badge:empty {
    display: none;
}

.container>.url-container>.status-badge.secure {
    color: #fff !important;
    background-color: #2e7d32 !important;
}

.container>.url-container>.status-badge.insecure {
    color: #fff !important;
    background-color: #d32f2f !important;
}

.container>.password-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    position: relative;
    row-gap: 8px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}

.password-container {
    position: relative;
    width: 100%;
    height: 56px !important;
    padding: 0px 12px 0px 8px;
}

.password-container>.password-input {
    width: 100%;
    height: 56px;
    padding: 20px 48px 6px 56px;
    border: none;
    border-radius: 4px;
    background: var(--bg-primary);
    color: var(--text-primary);
    font-size: 16px;
    box-sizing: border-box;
    transition: background 0.2s;
    background-repeat: no-repeat;
    background-position-x: 16px;
    background-position-y: 50%;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgLTk2MCA5NjAgOTYwIiB3aWR0aD0iMjQiIGZpbGw9IiM5YWEwYTYiPjxwYXRoIGQ9Ik04MC0yMDB2LTgwaDgwMHY4MEg4MHptNDYtMjQybC01Mi0zMCAzNC02MEg0MHYtNjBoNjhsLTM0LTU4IDUyLTMwIDM0IDU4IDM0LTU4IDUyIDMwLTM0IDU4aDY4djYwaC02OGwzNCA2MC01MiAzMC0zNC02MC0zNCA2MHptMzIwIDBsLTUyLTMwIDM0LTYwaC02OHYtNjBoNjhsLTM0LTU4IDUyLTMwIDM0IDU4IDM0LTU4IDUyIDMwLTM0IDU4aDY4djYwaC02OGwzNCA2MC01MiAzMC0zNC02MC0zNCA2MHptMzIwIDBsLTUyLTMwIDM0LTYwaC02OHYtNjBoNjhsLTM0LTU4IDUyLTMwIDM0IDU4IDM0LTU4IDUyIDMwLTM0IDU4aDY4djYwaC02OGwzNCA2MC01MiAzMC0zNC02MC0zNCA2MHoiLz48L3N2Zz4=);
}

.password-container>.password-label {
    position: absolute;
    left: 64px;
    top: 16px;
    color: #5f6368;
    transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1),
        color 0.15s cubic-bezier(0.4, 0, 0.2, 1), font-weight 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    transform-origin: left top;
    pointer-events: none;
}

.password-input:focus~.password-label,
.password-input:not(:placeholder-shown)~.password-label {
    transform: translateY(-8px) scale(0.75);
    color: #6200ee;
    font-weight: 600;
}

.password-container>.password-input:focus {
    outline: none;
    caret-color: #6200ee;
}

.password-container>.password-input:disabled {
    pointer-events: none;
}

.password-container::after {
    content: '';
    position: absolute;
    left: 8px;
    right: 12px;
    bottom: 0;
    width: calc(100% - 20px);
    height: 1.2px;
    background-color: rgba(0, 0, 0, 0.42);
    transition: background-color 150ms cubic-bezier(0.2, 0, 0, 1), height 150ms cubic-bezier(0.2, 0, 0, 1);
}

.password-container:has(.password-input:focus)::after,
.password-container:has(.password-input:active)::after,
.password-container:has(.password-input:not(:placeholder-shown))::after {
    height: 2px;
    background-color: #6200ee;
}

.password-input::placeholder {
    color: transparent;
}

.show-hide-button {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    height: 40px !important;
    width: 64px !important;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    cursor: pointer;
    color: #5f6368;
    border: 1.4px solid currentColor;
    border-radius: 6px;
    transition: color 0.15s cubic-bezier(0.4, 0, 0.2, 1),
        border-color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.show-hide-button:active,
.show-hide-button:hover {
    color: #6200ee;
    border-color: #6200ee;
}

.show-hide-button:active {
    transform: translateY(calc(-50% + 1px));
}

.show-hide-button:disabled {
    pointer-events: none;
    opacity: 0.38;
}

.password-input:focus~.show-hide-button,
.password-input:not(:placeholder-shown)~.show-hide-button {
    color: #6200ee;
}

.requirement {
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 4px;
    padding-left: 16px;
}

.pin-option {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 32px;
    column-gap: 8px;
    padding: 0px 12px 0px 8px;
    background-color: transparent;
}

.pin-option>.set-button {
    background-color: #191C1C;
    color: #FAFDFC;
    border: none;
    padding: 0px 16px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 0px 6px 6px 0px;
    border-radius: 24px;
    line-height: 32px;
    height: 32px;
}

.material-checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
}

.material-checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 8px;
    border: 2px solid #757575;
    border-radius: 4px;
    background-color: transparent;
    transition: all 0.3s ease;
}

.checkmark::after {
    content: "";
    position: absolute;
    display: none;
    left: 5px;
    top: 1px;
    width: 4px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.material-checkbox>input[type="checkbox"]:checked~.checkmark {
    background-color: #6200ee;
    border-color: #6200ee;
}

.material-checkbox>input[type="checkbox"]:checked~.checkmark::after {
    display: block;
}

.material-checkbox:hover>input[type="checkbox"]~.checkmark {
    border-color: #6200ee;
}

.material-checkbox>input[type="checkbox"]:focus~.checkmark {
    box-shadow: 0 0 0 2px rgba(98, 0, 238, 0.2);
}

.label-text {
    color: var(--text-primary);
    opacity: 0.80;
}

/* Theme-specific styles */
[data-theme="dark"] .container {
    -webkit-box-shadow: 0px 0px 4.0px hsl(0deg 0% 0% / 0.38);
    box-shadow: 0px 0px 4.0px hsl(0deg 0% 0% / 0.38);
}

[data-theme="dark"] .container>.url-container {
    background-color: #1a1a1c !important;
}

[data-theme="dark"] .password-container>.password-input {
    color: var(--text-primary);
    background-color: #101114 !important;
}

[data-theme="dark"] .pin-option>.set-button {
    background-color: #FAFDFC;
    color: #191C1C;
}

.requirement {
    color: #6b7280;
    font-size: 12px;
    padding: 4px 8px;
    margin-top: -8px;
}